<form [formGroup]="userForm">
  <!-- Prvi nivo -->
  <div formArrayName="children">
    <div *ngFor="let user of userForm.controls['children'].controls; let i=index" [formGroupName]="i">
      <h1>User</h1>
      <label>{{i+1}}. Name:</label>
      <input formControlName="name">

      <!-- Drugi nivo -->
      <div *ngIf="user.value.children && user.value.children.length">
        <h2>Children</h2>
        <div formArrayName="children">
            <div *ngFor="let child of user.controls['children'].controls; let j=index" [formGroupName]="j">
                <label>{{i+1}}.{{j+1}}. Name:</label>
                <input formControlName="name">

                <!-- Treci nivo -->
                <div *ngIf="child.value.children && user.value.children.length">
                  <h3>Grandchildren</h3>                  
                  <div formArrayName="children">
                    <div *ngFor="let grandChild of child.controls['children'].controls; let k=index;" [formGroupName]="k">
                      <label>{{i+1}}.{{j+1}}.{{k+1}} Name:</label>
                      <input formControlName="name">
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</form>

<br> <br>
{{ userForm.value.users | json }}
